nextflow.enable.dsl=2

profiles {

    // =======================
    // Conda profile
    // =======================
    conda {
        // Must be defined at the top level — not inside `process {}`!
        conda.enabled = true

        process {
            executor = 'local'
            echo = true
            // Path to your environment YAML file
            //conda = 'envs/environment.yml'
            conda = '/software/cellgen/team298/ar32/envs/visiumhd_env1'
        }
    }

    // =======================
    // Docker profile
    // =======================
    docker {
        docker.enabled = true

        process {
            executor = 'local'
            echo = true
            // Docker image built from your environment
            container = 'myorg/visiumhd:latest'
        }
    }

    // =======================
    // Singularity profile
    // =======================
    singularity {
        singularity.enabled = true

        process {
            executor = 'local'
            echo = true
            // Singularity image built from Docker image or SIF
            container = 'docker://myorg/visiumhd:latest'
            // OR use your local SIF file if preferred:
            // container = './envs/visiumhd_temp_build_built.sif'
        }
    }

    // =======================
    // Local
    // =======================
    local {
        process {
            executor = 'local'
            echo = true
        }
    }
}
