nextflow.enable.dsl=2

profiles {

    // =======================
    // Conda profile
    // =======================
    conda {
        process {
            executor = 'local'
            conda.enabled = true
            conda = '/software/cellgen/team298/ar32/envs/visiumhd_env1' // path to your Conda env
            echo = true
        }
    }

    // =======================
    // Docker profile
    // =======================
    docker {
        process {
            executor = 'local'
            docker.enabled = true
            container = './envs/visiumhd_temp_build_built-docker.tar'
            echo = true
        }
    }

    // =======================
    // Singularity profile
    // =======================
    singularity {
        process {
            executor = 'local'
            singularity.enabled = true
            container = './envs/visiumhd_temp_build_built.sif'
            echo = true
        }
    }

    // =======================
    // Local profile
    // =======================
    local {
        process {
            executor = 'local'
            echo = true
        }
    }
}
