// conf/profiles.config

profiles {

    conda {
        env {
            NXF_CONDA_HOME = '/software/cellgen/team298/ar32/envs'
            // User can optionally override this variable when running
            NEXTFLOW_CONDA_ENV = ''
        }

        process {
            conda.enabled = true

            // Determine which env to use:
            // - If NEXTFLOW_CONDA_ENV is set, use it
            // - Otherwise, fallback to default 'env_X'
            conda = { ->
                def userEnv = System.getenv('NEXTFLOW_CONDA_ENV')
                if(userEnv?.trim()) {
                    return "${System.getenv('NXF_CONDA_HOME')}/${userEnv}"
                } else {
                    return "${System.getenv('NXF_CONDA_HOME')}/visiumhd_env1"
                }
            }
        }
    }
    
    

}